{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'anygrade/css/reseter.css' %}">
    <link rel="stylesheet" href="{% static 'anygrade/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'anygrade/scss/main.css' %}">
    <script src="https://cdn.lordicon.com/xdjxvujz.js"></script>
</head>
<body>
    {% block content %}
    {% endblock %}
</main>
<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <span>2022 © Anygrade.</span>
            <span>Разработано и cоздано Шаевым Андреем, студентом Московского Политеха</span>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'anygrade/js/main.js' %}"></script>
</body>
</html>