@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

*, *::after, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f6f7fb;
    padding-top: 140px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    box-shadow: rgb(0 0 0 / 10%) 0px 6px 20px;
    padding: 20px 36px;
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.header__submenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__button {
    display: inline-block;
    border-radius: 40px;
    padding: 10px 30px;
    font-weight: 700;
    transition: background-color 0.3s linear 0s;
    background-color: rgb(44, 38, 32);
    color: rgb(255, 255, 255);
}

.header__nav {
    margin-top: 30px;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.menu__link:hover {
    color: rgb(26, 150, 246);
}

.lessons__list {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.lesson {
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 4px;
    border-radius: 5px;
    display: flex;
    width: 100%;
    position: relative;
}

.lesson__preview {
    padding: 32px;
    flex: 0 0 0%;
}

.lesson__content {
    border-left: 1px solid rgba(220, 223, 234, 0.5);
    padding: 32px;
    flex-grow: 1;
}

.lesson__categories {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
    width: 100%;
}

.lesson__category {
    display: inline-block;
    background: rgb(246, 246, 246);
    border-radius: 5px;
    padding: 2px 8px 0px;
    color: rgb(51, 51, 51);
    line-height: 22px;
}

.lesson__title {
    color: rgb(51, 51, 51);
    line-height: 1.15;
    font-weight: 600;
    font-size: 28px;
    padding: 1rem 0;
}

.lesson__description {
    margin-top: 10px;
}

.lesson__actions {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.lesson__time {
    position: absolute;
    top: 32px;
    right: 32px;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 40px;
    background-color: lightgreen;
}

.button {
    line-height: 40px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    padding: 0px 24px;
    transition: background-color 0.2s ease 0s;
    display: inline-block;
    border-radius: 5px;
    background-color: rgb(26, 150, 246);
    color: rgb(255, 255, 255);
}

.button:hover {
    background-color: rgb(15, 128, 217);
}

.section__title {
    margin: 40px 0 20px;
    color: rgb(51, 51, 51);
    font-weight: 600;
    font-size: 38px;
}

.lesson__avatar {
    height: 200px;
    width: 200px;
}

.lesson__image {
    max-width: 100%;
    object-fit: cover;
}

.lesson__teacher {
    color: rgb(51, 51, 51);
    font-weight: 600;
    margin-top: 15px;
    text-align: center;
}

.box {
    padding: 20px 15px;
    background: #fff;
    border-radius: 5px;
}

.estimation {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-radius: 5px;
}

.estimation__description {
    flex: 0 0 auto;
    display: flex;
    gap: 30px;
}

.estimation__title {
    font-weight: 500;
    margin-bottom: 5px;
}

.estimation__image {
    height: 20px;
    width: 20px;
    object-fit: cover;
    border-radius: 50%;
}

.estimation__teacher {
    display: flex;
    align-items: center;
    gap: 5px;
}

.estimation__fragment {
    width: 240px;
    display: flex;
    gap: 10px;
}

.fragment__block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: rgb(184, 184, 184);
    border-radius: 5px;
}

.form__input {
    padding: 15px 20px 11px;
    font-size: 16px;
    color: rgb(51, 51, 51);
    border-radius: 5px;
    width: 100%;
    border: 1px solid rgb(249, 75, 40);
    background-color: rgba(249, 75, 40, 0.1);
}